@import "src/style/mixin";

.MemberTab {
  /* display: grid; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em 0;
  margin-top: 1em;
  transition: all 0.2s ease-in-out;

  @include mobile {
    padding: 1em 0;
    transform: scale(0.8);
    width: 100vw;
  }

  svg {
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    image {
      width: 100%;
    }
  }

  &.p0 {
    svg:nth-child(2) {
      transform: scale(0.7);
      opacity: 0.3;
    }

    svg:nth-child(3) {
      transform: scale(0.7);
      opacity: 0.3;
    }
  }

  &.p1 {
    svg:nth-child(1) {
      transform: scale(0.7);
      opacity: 0.3;
    }

    svg:nth-child(3) {
      transform: scale(0.7);
      opacity: 0.3;
    }
  }

  &.p2 {
    svg:nth-child(1) {
      transform: scale(0.7);
      opacity: 0.3;
    }

    svg:nth-child(2) {
      transform: scale(0.7);
      opacity: 0.3;
    }
  }
}
