.Modal {
  background-color: rgba(#111, 0.2);
  backdrop-filter: blur(4px);
  background-image: linear-gradient(rgba(white, 0.1) 0.8px, transparent 0.8px),
    linear-gradient(to right, rgba(white, 0.1) 0.8px, rgba(#111, 0.5) 0.8px);
  background-size: 16px 16px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 10px 0 rgba(17, 17, 17, 0.05);
  min-width: 10rem;
  z-index: 999;
  width: calc(100vw - 2em);
  max-width: 700px;
  height: 70vh;


  .contents{
    height: calc(100% - 5em);
    padding: 1em;
  }

  .close {
    color: #fff;
    height: 3rem;
    font-size: 2rem;
    display: grid;
    padding-right: 1rem;
    box-sizing: border-box;
    place-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }
}
