@import "mixin";
h1{
    font-size: 6em;
    font-weight: 200;
}
h2{
    font-size: 3.75em;
    font-weight: 200;
}
h3{
    font-size: 3em;
}
h4{
    font-size: 2.125em;
    font-weight: 400;
}
h5{
    font-size: 1.5em;
    font-weight: 400;
}
h6{
    font-size: 1.25em;
    font-weight: 500;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.8;
    word-break: keep-all;
}


@include mobile{
    h1{
        font-size: 2em;
        font-weight: 200;
    }
    h2{
        font-size: 1.75em;
        font-weight: 200;
    }
    h3{
        font-size: 1.5em;
    }
    h4{
        font-size: 1.3em;
        font-weight: 400;
    }
    h5{
        font-size: 1.25em;
        font-weight: 400;
    }
    h6{
        font-size: 0.8em;
        font-weight: 500;
    }

    h1,h2,h3,h4,h5,h6{
        line-height: 1.8;
    }


}