@import "src/style/mixin";

.Countdown {
    height: 100%;
    display: grid;
    place-items: center;
}

@include mobile {
    .Countdown {
        span + span {
            margin-left: 0;
        }
    }
}