@import "src/style/mixin";

.Countdown {
    height: 100%;
    display: grid;
    place-items: center;

}

@include mobile {
    .Countdown {
        font-size: 1.3rem;
        line-height: 1.3;
        word-break: keep-all;
        span + span {
            margin-left: 0;
        }
    }
}